.new-note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-note-form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #333;
  border-radius: 5px;
}

.new-note-form label {
  color: #fff;
}

.new-note-form input {
  background: #fff0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.new-note-form input:focus {
  outline: solid 1px #00aa00;
  border: none;
}

.new-note-form textarea {
  background: #fff0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.new-note-form textarea:focus {
  outline: solid 1px #00aa00;
  border: none;
}

.new-note-form button {
  background: #00aa00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.new-note-form button:hover {
  background: #00bb00;
}
